{%extends "Education/base.html"%}
{%block content%}

  <head>
    <title>Interactive maps for Django web apps</title>
    <!-- <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" /> -->
  </head>
  <body>
    <h1> 地图时间！</h1>
    <div id="container"></div>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=b9274206b52477807a4bc0744ff2e15a"></script>
    <script>
    	/* jshint ignore:start */
    	var map = new AMap.Map('container', {
	        resizeEnable: true, //是否监控地图容器尺寸变化
	        zoom:2, //初始化地图层级
	        center: [116.391467, 39.927761] //初始化地图中心点
        });

    	activeIcons = [];
    	var mapClick = function(e){
    		activeIcons.forEach(function(icon){
    			icon.setLabel({})
    		})
    		activeIcons = []
    	}

    	map.on('click', mapClick)
        // school object was modified and added a new attribute 'teacher' representing that school before 
        // the school object is passed to this template
    	{% for school in schools %}
    		var center  =[{{school.latitude}}, {{school.longitude}}]
    		var onclickFunction = function(e){
    			e.target.setLabel({
    				offset: new AMap.Pixel(20, -30), //20,-30
    				content: "<div class='marker'>{{school.name}} </br> {{school.address}}</div> </br>"+
                            "<a class='mr-2' href='{% url 'user-posts' school.teacher.user.pk %}'> " +"联系人：{{school.teacher.name}}</a>"
    			})
    			activeIcons.push(e.target)
    		}


	        var marker = new AMap.Marker({
	          position:center//位置
	        });
	        marker.on('click', onclickFunction)
	        map.add(marker)
		{% endfor %}
    </script>
  </body>
{%endblock content %}
