{%extends "Education/base.html"%}
{%block content%}

  <head>
    <title>Interactive maps for Django web apps</title>
    <!-- <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" /> -->
  </head>
  <body>
    <h1>Map time!</h1>
    <div id="container"></div>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=b9274206b52477807a4bc0744ff2e15a"></script>  
    <script>
        var center  =[108.8907, 34.2236]
        var marker = new AMap.Marker({
          position:center//位置
        })
        var map = new AMap.Map('container', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom:15, //初始化地图层级
        center: center //初始化地图中心点
        });
        map.add(marker)
    </script>
  </body>
{%endblock content %}
